

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
</head>
<body>
  

        <% index.forEach(function(user){ %>
            
                <tr>
                    <td>
                        <%= user.num_serie %>
                    </td>
                    <td>
                        <%= user.protection %>
                    </td>
                    <td>
                        <%= user.puissance %>
                    </td>
                    <td>
                        <%= user.priorite %>
                    </td>
                    <td>
                        <%= user.latitude %>
                    </td>
                    <td>
                        <%= user.longitude %>
                    </td>
                </tr>
        

        <% }) %>


</body>
</html>